<h1>Lời mời tham gia nhóm</h1>

<p>Xin chào,</p>

<p>Bạn nhận được lời mời tham gia nhóm <b>{{groupName}}</b> từ <b>{{inviterName}}</b></p>

<p>Bạn có thể sử dụng <a href={{url}}>liên kết này</a> để gia nhập.</p>

<p><b>
    Liên kết này sẽ hết hạn sau <b>{{expiredTime}}</b> và chỉ có thể sử dụng một lần.
    Xin không chia sẽ với bất kì ai. Bất cứ ai có đường liên kết đều có thể gia nhập nhóm.
  </b>
</p>


<p>Trong trường hợp liên kết phía trên không thể ấn, bạn có thể sao chép liên kết bên dưới và dán vào trình duyệt để chấp nhận lời mời</p>

<p>{{url}}</p>

<p>Trân trọng,</p>
<p>Megoo Team</p>