<h1>Invite to group</h1>

<p>Hi,</p>

<p>You have been invited by {{inviterName}} to join the group {{groupName}}.</p>

<p>Use this code to join the group.</p>

<p><b>
    This code is valid for {{expiredTime}} and can only be used once.
    Please do not share this code with anyone else. Anyone with this code can join the group.
  </b>
</p>

<p>Click <a href={{url}}>here</a> to join the group.</p>

<p>If hyper link does not appear, you can copy this link to join us</p>

<p>{{url}}</p>

<p>Regards,</p>